.NavCont{
    display:  flex;
    flex-direction: row;
    padding-top: 0.50rem;
    justify-content: center;
    background-color: #FFFFFF;
    width: auto;
    height: 5rem;
}
.wrapDiv{
    display:  flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content: center;
    width: auto;
    height: 5rem;
}
.NavLogo{
    display: flex;
    flex-direction: row;
    gap: 0.50rem;
    padding-top: 1rem;
}
.NavLogo img{
    width: 3rem;
    height: 3rem;
}
.NavLogo p{
    color: #2995E2;
    font-weight: 700;
    font-size: 16px;
}

.NavLinks{
    display: flex;
    flex-direction: row;
    gap: 2.50rem;
    justify-content: center;
    padding-left: 8rem;
    cursor: pointer;

}

.NavLinks p{
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;

}

.Button{
    padding-left: 15rem;
    padding-top: 0.50rem;
}

.Button button{
    background : none;
    width: 7.50rem;
    height: 2.50rem;
    border-radius: 3px;
    cursor: pointer;
    border: grey 2px solid;
}

.Hamburger{
    display: none;
    padding-top: -4rem;
}
@media (max-width: 728px) {
    .NavCont {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: auto;
    }
   .wrapDiv{
       width: 22.30rem;
       height: 15rem;
       gap: 5rem;
       margin-top: -1rem;
       display: flex;
       flex-direction: row;
   }
    .NavLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .NavLinks   p{
    margin-left: 8rem;
    }
  .NavLogo{
      padding-top: -4rem;
  }
    .Button {
        display: none;
    }
 button{
    background : none;
    width: 5.50rem;
    height: 2.50rem;
    border-radius: 3px;
    cursor: pointer;
    border: grey 2px solid;
}
    .Hamburger {
        display: block;
        cursor: pointer;
        font-size: 1.65rem;
        margin-left: auto;
        color: #2995E2;
        margin-top: -17.50rem;
    }
}
@media (max-width: 1024px) {

}
